*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clear{
    clear: both;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-third{
    width: 33.33%;
}
.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}
.text-center{
   text-align: center !important;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
.text-white{
    color: #fff !important;
}

#main {
     
}
#header {
   height: 46px;
   background-color: black;
   position: fixed;
   
   top: 0;
   left: 0;
   right: 0;
   z-index: 1;
   
}
#nav{
    display: inline-block;
}
#nav,.subnav{
    list-style-type: none;

}
#nav >li{
    display: inline-block;
}

#nav li
{
  
  /*làm cho thẻ nằm ngang */
  position: relative;

  
}
#nav>li>a{
    color: #fff;
    text-transform: uppercase;
}
#nav li a
{
    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
    
}
#nav li:hover .subnav{
    display:block;
}
#nav .subnav li:hover a,
#nav > li:hover > a
{
    color: black;
    background-color: #ccc;
    
}
#nav .subnav{
    
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: none;
    top: 100%;
    min-width: 160px;
    
}
 


#nav .subnav a{
    color: black;
    
    padding: 0,12px ;
    line-height: 38px;
}
#nav .nav-arrow-down{
    font-size: 11px;
}
#header .mobile-menu-btn,
#header .search-btn{
    float: right;
    line-height: 46px;

    padding: 0px 21px;
    

}
#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
#header .mobile-menu-btn:hover
    {
        background-color: #ccc
        
    }
 #header .mobile-menu-btn:hover .menu-icon{
    color: #000;
 }

#header .search-btn:hover
{
    background-color: #f44336;
    cursor: pointer;
}
#header .menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 20px;
}

    
    
#slider {
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
  background: url('../img/anhchinh.png') top center / cover no-repeat;
  
}
#slider .text-content{
position: absolute;
bottom: 47px;
color: #fff;
left: 50%;
transform: translateX(-50%);
text-align: center;


}
#slider .text-heading{
 font-weight: 500;
 font-size: 24px;
}
#slider .text-description{
  font-size: 15px;
  margin-top: 25px;
  text-shadow: 0 0 1px #000;
}
#content {
    
    }
#content .context-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 0px 112px;
    margin-left: auto;
    margin-right: auto;
    
   
}
#content .section-heading{
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 3px;
  

}
#content .section-sub-heading{
    text-align: center;
    margin-top: 25px;
    font-size: 15px;
    font-style: italic;
  opacity: 0.6;

}
#content .about-text{
    margin-top: 25px;
    text-align: justify;
    line-height: 1.6;
    font-size: 15px;
    

}
#content .members-list{
    overflow: hidden;
    margin-top: 48px;
    text-align: justify;
   

}
#content .member-name{
    font-size: 15px;
    
    

}
#content .members-item{
        text-align: center;
       


}
#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
    
}
.sp{
    background-color: black;
}
.sanpham-list{
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}
.sanpham-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}
.sanpham-list .sold-out{
   background-color: #f44336;
   color: #fff;
   padding: 3px 4px;
   margin-left: 16px;
}
.sanpham-list .quantity{
   background-color: black;
   color: #fff;
   float: right;
   border-radius: 50%;
   width: 24px;
   height: 24px;
   text-align: center;
   line-height: 24px;
   margin-top: -2px;
}
.sanpham1-list
{
    
    overflow: hidden;
    margin-top: 16px;
    
   
}

.sanpham-img{
    width: 100%;
    display: block;


}
.sanpham-img:hover{
    opacity: 0.6;
}

.sanpham1-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;


}
.sanpham1-heading{
    font-weight: 600;
    font-size: 15px;
}
.sanpham-quantity{
    margin-top: 16px;
    color: #757575;

}
.sanpham-slogan{
    margin-top: 16px;
    line-height: 1.6;

}
.sanpham-buy-btn{
    background-color: black;
    color: #fff;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    text-align: center;

}
.sanpham-buy-btn:hover{
    background-color: #757575;
    color: black;
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    display: none;
    align-items: center;
    justify-content: center;

}
.modal-container{
    background: #fff;
    width: 900px;
    max-width: calc(100%-32px);
    min-height: 200px;
    position: relative;
    animation: modalFadein ease 0.5s ;
}
.modal-header{
    height: 130px;
    display: flex;
    justify-content: center;
    background: #009688;
    align-items: center;
    font-size: 32px;
    color: #fff;

}   
.modal-heading-icon
{
    margin-right: 16px;
}
.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    font-weight: 800;
    padding: 12px;
    cursor: pointer;
}
.modal-close:hover{
    background-color: #757575;
    color: black;
}
.modal-body{
    padding: 16px;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 15px;
}
.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;}


#buy-buy{
    background: #009688;
    
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 12px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;

}
#buy-buy:hover{
    background-color: #757575;
    color: black;
}
.modal-footer{
    padding: 16px;
    text-align: right;
    

}
.modal-footer a{
    color: #2196f3;
}
.open{
    display: flex;
}
@keyframes modalFadein{
    from{opacity: 0;
    transform: translateY(-140px);
    }
    to{opacity: 1;
    transform: translateY(0px);
    }
}
.contact-content{
    margin-top: 48px;
}
.contact-info{
    line-height: 1.6;
    font-size: 18px;
}
.contact-info i{
    width: 30px;
    display: inline-block;
}
.contact-form{
    font-size: 15px;

}
.form-control{
    padding: 11px;
    border: 1px solid #ccc;
    width: 100%;
}
.form-submit-btn{
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    float: right;
    padding: 10px 16px;
    cursor: pointer; 
    appearance: none;
    -webkit-appearance: none;
}
.form-submit-btn:hover{
    color: #000;
    background-color: #757575;
}
.map-section img{
    width: 100%;
}
#footer {
  padding: 64px 16px;
  text-align: center;
}
.social-list{
    font-size: 24px;
    
}
.social-list a{
    color: rgba(0,0,0,0.6);
    text-decoration: none;
}
.social-list a:hover{
    color: rgba(0,0,0,0.3);

}
.copyright{
    margin-top: 15px;
    color: rgba(0,0,0,0.6);
}
.copyright:hover{
    color: rgba(0,0,0,0.3);

}